$background: #6cadd3;
$background2: #6cadd3;
$background3: #73abcc;
$background4: #82a7bd;
$nwk-image-height: 80%;

html, body {
	height: 100%;
}

.wrapper {
	background-color: $background;
	height: 100%;
	width: 100%;
	position: absolute;
}

.content-wrapper {
}

.header {
	position: relative;
	height: 100%;
	width: 100%;
	margin-top: 5%;
	.logo {
		text-align: center;
	}
}

.body {
	position: relative;
	height: 100%;
	width: 100%;
}
.oauth-container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding: 0;
	width: 32%;
	text-align: center;
	i {
		margin-top: 10px;
		color: green;
	}
}

.submit-button-wrapper {
	margin-top: 5%;
	position: relative;
	text-align: center;
}

#cortical-button {
    max-width: 30%;
    height: auto;
}

#results {
	display: none;
}


#results-view {
 display: none;
 color: white;
 max-width: 85%;
 max-width: 950px;
 margin: auto;
 padding: 15px;
 height: 500px;
 opacity: 1 !important;
 position: relative;
 margin: 25px auto 0;
 font-weight: 400;
 padding: 30px;
 background: rgb(34,34,34); /* for IE */
 background: rgba(34,34,34,0.75);
}

#your-results {
	max-width: 50%;
	float: left;
}

#match-results {
  max-width: 50%;
  float: right;
}

.footer {
	color: white;
  float: right;
  margin: 7% 15% 0px 0px;
  text-align: right;
	p {
		margin-left: 20px;
	}
}


* {
	// border: 1px solid red;
}

.logo-networking-wrapper {
	text-align: center;
	img {
		max-width: 25%;
		height: auto;
	}
}

@mixin networking ($side1, $side2) {
	.profile-wrapper {
		height: 85%;
		width: 90%;
		margin: auto;
		// margin-top: 5%;
		border-radius: 30px;
		.#{$side1}-profile {
			background-color: #7b9095;
			width: 47%;
			height: 100%;
			padding-top: 15px;
			border-radius: 30px;
			border: solid black;
			border-right: solid black;
			float: $side1;
			text-align: center;
			##{$side1}-profile-image-wrapper {
				float: $side1;
				margin-#{$side1}: 5%;
				##{$side1}-profile-image {
					max-width: 40%;
	    		height: auto;
	    		border-radius: 100%;
				}
			}
			##{$side1}-data-image-wrapper {
				float: $side2;
				margin-#{$side2}: 5%;
				##{$side1}-data-image {
					max-width: $nwk-image-height;
	    		height: auto;
				}
			}
			##{$side1}-terms	{
				clear: both;
				list-style-type: none;
				font-family: Copperplate;
				font-size: 30px;
			}
		}
	}
}

@include networking (left, right);
@include networking (right, left);

#center-data-image-wrapper {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	padding: 7px;
	border-radius: 100%;
	border: solid black;
	background-color: #7b9095;
	#center-data-image {
		// max-width: $nwk-image-height;
		// height: auto;
	}
}
