html, body {
  height: 100%; }

.wrapper {
  background-color: #6cadd3;
  height: 100%;
  width: 100%;
  position: absolute; }

.header {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 5%; }
  .header .logo {
    text-align: center; }

.body {
  position: relative;
  height: 100%;
  width: 100%; }

.oauth-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 0;
  width: 32%;
  text-align: center; }
  .oauth-container i {
    margin-top: 10px;
    color: green; }

.submit-button-wrapper {
  margin-top: 5%;
  position: relative;
  text-align: center; }

#cortical-button {
  max-width: 30%;
  height: auto; }

#results {
  display: none; }

#results-view {
  display: none;
  color: white;
  max-width: 85%;
  max-width: 950px;
  margin: auto;
  padding: 15px;
  height: 500px;
  opacity: 1 !important;
  position: relative;
  margin: 25px auto 0;
  font-weight: 400;
  padding: 30px;
  background: #222222;
  /* for IE */
  background: rgba(34, 34, 34, 0.75); }

#your-results {
  max-width: 50%;
  float: left; }

#match-results {
  max-width: 50%;
  float: right; }

.footer {
  color: white;
  float: right;
  margin: 7% 15% 0px 0px;
  text-align: right; }
  .footer p {
    margin-left: 20px; }

.logo-networking-wrapper {
  text-align: center; }
  .logo-networking-wrapper img {
    max-width: 25%;
    height: auto; }

.profile-wrapper {
  height: 85%;
  width: 90%;
  margin: auto;
  border-radius: 30px; }
  .profile-wrapper .left-profile {
    background-color: #7b9095;
    width: 45%;
    height: 100%;
    padding-top: 15px;
    border-radius: 30px;
    border: solid black;
    border-right: solid black;
    float: left;
    text-align: center; }
    .profile-wrapper .left-profile #left-profile-image {
      max-width: 40%;
      padding: 0;
      height: auto;
      border: solid black;
      border-radius: 100%; }
    .profile-wrapper .left-profile #left-data-image-wrapper {
      float: right;
      margin-right: 5%; }
      .profile-wrapper .left-profile #left-data-image-wrapper #left-data-image {
        max-width: 80%;
        height: auto; }
    .profile-wrapper .left-profile #left-terms {
      clear: both;
      list-style-type: none;
      font-family: Copperplate;
      font-size: 30px;
      color: #f5f5f5; }
      .profile-wrapper .left-profile #left-terms li:nth-child(odd) {
        margin-left: 6em; }
      .profile-wrapper .left-profile #left-terms li:nth-child(even) {
        margin-right: 6em; }

.profile-wrapper {
  height: 85%;
  width: 90%;
  margin: auto;
  border-radius: 30px; }
  .profile-wrapper .right-profile {
    background-color: #7b9095;
    width: 45%;
    height: 100%;
    padding-top: 15px;
    border-radius: 30px;
    border: solid black;
    border-right: solid black;
    float: right;
    text-align: center; }
    .profile-wrapper .right-profile #right-profile-image {
      max-width: 40%;
      padding: 0;
      height: auto;
      border: solid black;
      border-radius: 100%; }
    .profile-wrapper .right-profile #right-data-image-wrapper {
      float: left;
      margin-left: 5%; }
      .profile-wrapper .right-profile #right-data-image-wrapper #right-data-image {
        max-width: 80%;
        height: auto; }
    .profile-wrapper .right-profile #right-terms {
      clear: both;
      list-style-type: none;
      font-family: Copperplate;
      font-size: 30px;
      color: #f5f5f5; }
      .profile-wrapper .right-profile #right-terms li:nth-child(odd) {
        margin-right: 6em; }
      .profile-wrapper .right-profile #right-terms li:nth-child(even) {
        margin-left: 6em; }

#center-data-image-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  padding: 7px;
  border-radius: 100%;
  border: solid black;
  background-color: #7b9095; }

#cortical-button-search {
  position: fixed;
  top: 16%;
  left: 46.65%;
  z-index: 3;
  width: 7%;
  height: auto; }

/*# sourceMappingURL=main.css.map */
