
html, body {
  height: 100%; }


.wrapper {
  background-color: #6cadd3;
  height: 100%;
  width: 100%;
  position: absolute; }

.header {
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 5%; }
  .header .logo {
    text-align: center; }

.body {
  position: relative;
  height: 100%;
  width: 100%; }

.oauth-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 0;
  width: 32%;
  text-align: center; }
  .oauth-container i {
    margin-top: 10px;
    color: green; }

.submit-button-wrapper {
  margin-top: 5%;
  position: relative;
  text-align: center; }

#cortical-button {
  max-width: 30%;
  height: auto; }

.container {
  width: 100%;
  text-align: center;
}

#results {
  display: none; }

#results-view {
  display: none;
  color: white;
  max-width: 85%;
  max-width: 950px;
  margin: auto;
  padding: 15px;
  height: 500px;
  opacity: 1 !important;
  position: relative;
  margin: 25px auto 0;
  font-weight: 400;
  padding: 30px;
  }

/*  .results-circle {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  }*/

  .fingerprint-image {
    display: center;
   padding-top: 50%;
  }

  .info {
    -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: green;
  width: 90px;
  height: 90px;
  }

ul li {
  list-style-type: none;
}

ul li p {
padding-top: 40%;
}

#left-div {
   float: left;
    width: 40%;
    height: 500px;
}


#center-div {
    display: inline-block;
    margin: 0 auto;
    height: 500px;
    display: -webkit-inline-box;
}

#right-div {
   float: right;
    width: 40%;
    height: 500px;
}

#your-results {
  max-width: 50%;
  float: left; }

#match-results {
  max-width: 50%;
  float: right; }

.footer {
  color: white;
  float: right;
  margin: 7% 15% 0px 0px;
  text-align: right; }
  .footer p {
    margin-left: 20px; }

.logo-networking-wrapper {
  position: absolute; }
  .logo-networking-wrapper img {
    max-width: 30%;
    height: auto; }

.profile-wrapper {
  height: 90%;
  width: 90%;
  margin: auto;
  margin-top: 5%;
  border-radius: 30px; }
  .profile-wrapper .left-profile {
    background-color: #7b9095;
    width: 47%;
    height: 100%;
    padding-top: 15px;
    border-radius: 30px;
    border: solid black;
    border-right: solid black;
    float: left;
    text-align: center; }
    .profile-wrapper .left-profile #left-profile-image-wrapper {
      float: left;
      margin-left: 5%; }
      .profile-wrapper .left-profile #left-profile-image-wrapper #left-profile-image {
        max-width: 85%;
        height: auto; }
    .profile-wrapper .left-profile #left-data-image-wrapper {
      float: right;
      margin-right: 5%; }
      .profile-wrapper .left-profile #left-data-image-wrapper #left-data-image {
        max-width: 85%;
        height: auto; }
    .profile-wrapper .left-profile #left-terms {
      clear: both;
      list-style-type: none;
      font-family: Copperplate;
      font-size: 30px; }

.profile-wrapper {
  height: 90%;
  width: 90%;
  margin: auto;
  margin-top: 5%;
  border-radius: 30px; }
  .profile-wrapper .right-profile {
    background-color: #7b9095;
    width: 47%;
    height: 100%;
    padding-top: 15px;
    border-radius: 30px;
    border: solid black;
    border-right: solid black;
    float: right;
    text-align: center; }
    .profile-wrapper .right-profile #right-profile-image-wrapper {
      float: right;
      margin-right: 5%; }
      .profile-wrapper .right-profile #right-profile-image-wrapper #right-profile-image {
        max-width: 85%;
        height: auto; }
    .profile-wrapper .right-profile #right-data-image-wrapper {
      float: left;
      margin-left: 5%; }
      .profile-wrapper .right-profile #right-data-image-wrapper #right-data-image {
        max-width: 85%;
        height: auto; }
    .profile-wrapper .right-profile #right-terms {
      clear: both;
      list-style-type: none;
      font-family: Copperplate;
      font-size: 30px; }

#center-data-image-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  padding: 7px;
  border-radius: 100%;
  border: solid black;
  background-color: #7b9095; }

/*# sourceMappingURL=main.css.map */
